<%# Do not modify this from line 2 to 13 - Louis %>
<%# <div class="alert alert-danger alert-dismissible fade show animate__animated animate__fadeInDown" role="alert"> %>

<%= form_with(model: post) do |form|%>
  <% if post.errors.any? %>
    <div style="color: red">

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="container_fix_advanced animate__animated animate__fadeInUp">
<%# <%= params.inspect%> 
<% if params[:controller]=="posts" and params[:action]=="edit" %>
  <h1 class="report_header">Edit Case</h1>

  <% else %>
  <h1 class="report_header">Create Case</h1>
<%end%>
  <div class="row">

    <div class="column post_image_ne">
      <div class="new_post_image">
      <div class="edit_post_image">
        <%= image_tag @post.image_url if @post.image%>
      </div>
      </div>
    </div>

    <div class="column">
      <div class="post_item">
        <%= form.label :full_name, style: "display: block", class:"report-label mb-1" %>
        <%= form.text_field :full_name, class:"report-field" %>
      </div>

      <div class="post_item">
        <%= form.label :age, style: "display: block", class:"report-label mb-1" %>
        <%= form.number_field :age, class:"report-field" %>
      </div>

      <div class="post_item">
        <%= form.label :location, style: "display: block", class:"report-label mb-1" %>
        <%= form.text_field :location, class:"report-field" %>
      </div>

      <div class="post_item">
        <%= form.label :description, style: "display: block", class:"report-label mb-1" %>
        <%= form.text_field :description, class:"description-field" %>
      </div>

      <div class="post_item">
        <%= form.label :special_note, style: "display: block", class:"report-label mb-1" %>
        <%= form.text_field :special_note, class:"report-field" %>
      </div>

      <div hidden>
        <%= form.label :user_id, style: "display: block", class:"report-label mb-1"  %>
        <%= form.number_field :user_id, value: current_user.id, class:"report-field" %>
      </div>

      <div class="time-input-container post_item time_item">
        <form action="/action_page.php">
        <label for="missingtime", class="TimeMissing-label report-label mb-1">Time of Missing:</label>
        <input type="datetime-local" id="missingtime" name="missingtime">
        </form>
      </div>

      <div class="post_item">
        <%= form.label :image, style: "display: block", class: "report-label mb-1" %>
        <%= image_tag form.object.image_url if form.object.cached_image_data %>
        <%= form.hidden_field :image, value: form.object.cached_image_data %>
        <%= form.file_field :image %>
 
      </div>

    </div>
  </div>

  <div class="middle-button"> 
    <%= form.submit class: "login-button" %>
    <%# <% link_to "Update Post", show_post_detail_path(post), class: "login_button"%> 
  </div>


  <%# <%= link_to "Create Post", new_user_post_path, class: "button_submit_post login-button", data: {turbo_method: :post}%> 

<% end %>
</div>