<div class="col-sm-4 try">
<div id="<%= dom_id post %>" class="col_component">
                    <div class="col_content">
                    <div class="image_project">
                        <%# <img src="./img/image 2.png" alt=""> %>
                        <%= image_tag post.image_url if post.image%>
                        <div class="overlay">
                            <p>Description: <%=post.description%></p>
                            <p>Age: <%=post.age%></p>
                        </div>
                    </div>

                    <div
                    class="bottom">
                      <p>Name: <%=post.full_name%></p>
                      <p>Note: <%=post.special_note%></p>
                      <p>Location: <%=post.location%></p>
                      <p><%= link_to "More details...", post %></p>
                </div>
</div>
</div>
</div>





