

<%# <%= @test %>
<%# <%= image_tag(@url) %> 

<% if params[:user_id]%>

<h1 class="title_index_post">My Cases</h1>

<div id="posts" class="project_showcase row">

    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>

</div>

<% else %>

  <h1 class="title_index_post">All Active Missing Cases</h1>

  <div class="width_ninety_for_filter row">

    <div class="for_filter col-3">
    <div class="filter_content">

     <%# NADA - YOUR CODE HERE %>


    <%# SEARCH FILTERING %>
    <%= form_tag(posts_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
      <%= submit_tag "Search" %>
    <% end %>
    
    <%# AGE FILTERING %>
    <%= form_tag(posts_path, method: :get) do %>
      <h5>Age</h5>
      <% Post::AGE_CATEGORIES.each do |category, _range| %>
        <%= check_box_tag "age_categories[]", category , @selected_age_categories.include?(category.to_s) %>
        <%= label_tag category.to_s, category.capitalize %><br>
      <% end %>

      <%# SORTING  %>
      <h5>Sort By</h5>
      <% sort_options= [['Most Recently Posted', 'recently_posted'],['Most Recently Missing', 'recently_missing'], ['Alphabetical Order', 'alphabetical']] %>
      <%= select_tag :sort_by, options_for_select(sort_options, @sort_by), prompt: 'Sort By' %>

      <br>
      <%= submit_tag "Filter" %>
    <% end %>


     <%# NADA - YOUR CODE ENDS HERE %>
    
    
    </div>

   

    </div>

    <div class="for_all_cases col-9">

      <div id="posts" class="project_showcase row">
          <% @posts.each do |post| %>
              <%= render post %>
          <% end %>
      </div>

    </div>
  </div>

<%end%>

<%# <%= params.inspect %>



