

<%= @test%>
<%= @test1 %>

<%# for my cases page %>
<% if params[:user_id]%>
  <div class="width_ninety_for_profile row">
    <div class="col-3 profile-content">
        <%# ayu u can add profile content here!  %>
        <%# the bottom left button should link to the page that is currently named Profile in the nav bar  %>
    </div>

    <div class="for_all_cases col-9">
      <h1 class="title_index_post">My Cases</h1>

      <div id="posts" class="project_showcase row">

          <% @posts.each do |post| %>
            <%= render post %>
          <% end %>

      </div>
    </div>
  </div>

<%# for browse cases page %>
<% else %>
  

  <div class="width_ninety_for_filter row">

    <div class="for_filter col-3">
      <div class="filter_content">
        <%# SEARCH FILTERING %>
        <%= form_tag(posts_path, method: :get) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search...", class:"search-bar" %>
          <br>
          <br>
          <%= submit_tag "Search", class:"search-button" %>
        <% end %>
      </div>

      <div class="filter_content">

        <%# SORTING  %>
        <h5 class="filter-header">Sort By</h5>
          <% sort_options= [['Most Recently Posted', 'recently_posted'],['Most Recently Missing', 'recently_missing'], ['Alphabetical Order', 'alphabetical'], ['Highest Rewards', 'highest_rewards']] %>
          <%= select_tag :sort_by, options_for_select(sort_options, @sort_by), prompt: 'Sort By', class:'dropdown' %>
        <br>
        <br>
        
        <%# AGE + GENDER FILTERING %>
        <%= form_tag(posts_path, method: :get) do %>
          <h5 class="filter-header">Age</h5>
          <% Post::AGE_CATEGORIES.each do |category, _range| %>
            <div class="filter-checkbox">
              <%= check_box_tag "age_categories[]", category , @selected_age_categories.include?(category.to_s) %>
              <%= label_tag category.to_s, category.capitalize %><br>
            </div>
          <% end %>
          <br>
          <h5 class="filter-header">Gender</h5>
            <div class="filter-checkbox">
              <% selected_genders = @selected_genders || [] %>
              <%= check_box_tag "genders[]", "Male", @selected_genders&.include?("Male") %>
              <%= label_tag "Male", "Male" %><br>
              <%= check_box_tag "genders[]", "Female", @selected_genders&.include?("Female") %>
              <%= label_tag "Female", "Female" %><br>
            </div>
          


          
          <br>
          <%= submit_tag "Filter", class:"filter-button"%>
        <% end %>

      </div>

  
    </div>

    <div class="for_all_cases col-9">
      <h1 class="title_index_post">Cases</h1>

      <div id="posts" class="project_showcase row">
          <% @posts.each do |post| %>
              <%= render post %>
          <% end %>
      </div>
    </div>
  </div>

<%end%>

<%# <%= params.inspect %>



