

<%= @test%>
<%= @test1 %>

<%# for my cases page %>
<% if params[:user_id]%>
  <div class="width_ninety_for_profile row">
    <div class="profile-content col-3">
      <div class="container-account-details">
        <div class="account-details-header">Account Details</div>

        <div class="container-details-content">
          <div class="detail-item">
            <p class ="account-details-label mb-1">Full Name</p>
            <h2 class ="account-details-label account-details-value mb-1"> <%=current_user.full_name %> </h2>

            <p class="account-details-label mb-1">Email</p>
            <h2 class ="account-details-label account-details-value mb-1"> <%=current_user.email%> </h2>

            <p class="account-details-label mb-1">Phone Number</p>
            <h2 class ="account-details-label account-details-value mb-1"> <%=current_user.mobile_phone%> </h2>
          </div>

          <div class="detail-item">
            <a href="<%=edit_user_registration_path({user_id: current_user.id})%>">
              <button class = "edit-profile-button edit-button-margin"><b>Edit Profile</b></button>
            </a>
          </div>
        </div>
      </div>
    </div>

      <div class="for_all_cases col-9 my-cases">
        <div class="cases-header">My Cases</div>

          <div id="posts" class="project_showcase row">
            <% if @posts.empty? %>
              <p>No cases available</p>
            <% else %>
              <% @posts.each do |post| %>
                <%= render post %>
              <% end %>
            <% end %>

        </div>
      </div>
    </div>

<%# for browse cases page %>
<% else %>
  

  <div class="width_ninety_for_filter row">

    <div class="for_filter col-3">
      <div class="filter_content">
        <%# SEARCH FILTERING %>
        <%= form_tag(posts_path, method: :get) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search...", class:"search-bar" %>
          <br>
          <br>
          <%= submit_tag "Search", class:"search-button" %>
        <% end %>
      </div>

      <div class="filter_content">

        <%# SORTING  %>
        <h5 class="filter-header">Sort By</h5>
          <% sort_options= [['Most Recently Posted', 'recently_posted'],['Most Recently Missing', 'recently_missing'], ['Alphabetical Order', 'alphabetical'], ['Highest Rewards', 'highest_rewards']] %>
          <%= select_tag :sort_by, options_for_select(sort_options, @sort_by), prompt: 'Sort By', class:'dropdown' %>
        <br>
        <br>
        
        <%# AGE + GENDER FILTERING %>
        <%= form_tag(posts_path, method: :get) do %>
          <h5 class="filter-header">Age</h5>
          <% Post::AGE_CATEGORIES.each do |category, _range| %>
            <div class="filter-checkbox">
              <%= check_box_tag "age_categories[]", category , @selected_age_categories.include?(category.to_s) %>
              <%= label_tag category.to_s, category.capitalize %><br>
            </div>
          <% end %>
          <br>
          <h5 class="filter-header">Gender</h5>
            <div class="filter-checkbox">
              <% selected_genders = @selected_genders || [] %>
              <%= check_box_tag "genders[]", "Male", @selected_genders&.include?("Male") %>
              <%= label_tag "Male", "Male" %><br>
              <%= check_box_tag "genders[]", "Female", @selected_genders&.include?("Female") %>
              <%= label_tag "Female", "Female" %><br>
            </div>
          


          
          <br>
          <%= submit_tag "Filter", class:"filter-button"%>
        <% end %>

      </div>

  
    </div>

    <div class="for_all_cases col-9">
      <h1 class="title_index_post">Cases</h1>

      <div id="posts" class="project_showcase row">
          <% if @posts.empty? %>
              <p>No cases available</p>
            <% else %>
              <% @posts.each do |post| %>
                <%= render post %>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>

<%end%>

<%# <%= params.inspect %>



